@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", serif;
}

.primary-btn {
  border: 1px solid rgb(2, 112, 2);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

:root {
  --secondary-color: #111111;
}

.hero-section {
  margin-top: 80px;
}
.hero-section p {
  color: var(--secondary-color);
  opacity: 0.8;
}
.hero-para {
  margin-top: 30px;
}
.hero-img {
  margin-top: 30px;
}

#service-section .card-container p {
  color: var(--secondary-color);
  opacity: 0.7;
  font-size: 1.25rem;
}

#service-section, #popular {
  margin: auto;
}
#services-id-section{
  margin: 80px auto 50px auto;
  max-width: 80rem;
}
.card {
  padding: 2rem;
}
.card-img {
  /* background-color: white; */
  padding: 20px;
  border-radius: 100px;
}
#service, popular {
  margin-bottom: 30px;
}

#products-section {
  max-width: 80rem;
}


/* important */




#popular,#arrival{
    margin: auto;
    max-width: 80rem;
}



/* important */

#products-section {
  margin: auto;
}
#popular-product-section {
  margin-top: 100px;
}



#margin-top{
    min-height: 110%;
}
@media screen and (max-width: 425px) {
  #services-id-section,
  #products-section
  {
    margin: 50px 20px 50px 20px;
  }
  /* #popular{
    margin-bottom: 30px; 
} */
}
@media screen and (max-width: 769px) {
  #services-id-section,
  #products-section,
  #popular,
  .cart-card 
  {
    margin: 50px 20px 50px 20px;
  }
 
}
footer{
  align-items: end;
}


#hero-img-float {
  width: 100%;
  height: 100%;
  transition: transform 2s ease-in-out; /* Smooth transition */
} 


#hero-img-float:hover {
  transform: translateY(-20px); /* Adjust floating height */
  /* Add other hover effects if you want, like a subtle shadow */
  box-shadow: 0.5px 0.5px 6px 10px rgba(56, 56, 56, 0.1); 
}

