@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", serif;
}

.primary-btn {
  border: 1px solid rgb(2, 112, 2);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

root{
    --secondary-color:  rgb(17, 17, 17);


}
.hero-section{
    margin-top: 80px;
}
.hero-section p{
    color: var(--secondary-color);
    opacity: .80;
   
}
.hero-para{
    margin-top: 30px;
}
.hero-img{
    margin-top: 30px;
}