@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Sora", serif;
}

.primary-btn {
  border: 1px solid rgb(2, 112, 2);
  padding: 10px 20px 10px 20px;
  border-radius: 4px;
}

:root{
    --secondary-color:  #111111;


}

.hero-section{
    margin-top: 80px;
}
.hero-section p{
    color: var(--secondary-color);
    opacity: .80;
   
}
.hero-para{
    margin-top: 30px;
}
.hero-img{
    margin-top: 30px;
}

#service-section .card-container p{
    color: var(--secondary-color);
    opacity: .70;
    font-size: 1.25rem;

}

#service-section{
margin: auto;
}
#services-id-section{
    margin: 80px auto 50px auto;
    max-width: 80rem;
}
.card{
    padding: 2rem;
}
.card-img{
    /* background-color: white; */
    padding: 20px;
    border-radius: 100px;
}
#service{
    margin-bottom: 30px;
}

#products-section{
    max-width: 80rem;
}



#products-section{
margin: auto;

}
@media screen and (max-width:425px){
    #services-section{
        margin: 50px 20px 50px 20px;
    }

    
}
@media screen and  (max-width: 769px)  {
    
    #services-section{
        margin: 50px 20px 50px 20px;
    }
}